
img {
  border-radius: 4px;
}

canvas {
  border: thin solid #aaa;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
}

#contents {
  position: absolute;
  bottom: 200px;
  width: 90%;
  overflow: auto;
}

#control {
  position: absolute;
  height: 60px;
  bottom: 100px;
  width: 90%;
}

#from {
	color: DeepSkyBlue;
}

#to {
	color: blue;
}
.sysMsg {
	color: #C03;
}

.two {
	color: blue;
}